/* Background Gradient */

html{
	background-image: linear-gradient(white, #114069);
	background-attachment: fixed;
	height: 100%;
	background-repeat: no-repeat;
	margin: 0;
}

/* Link things */

a{
	color: #114069;
	text-decoration: none
}
a:hover{
	color: #0C2E4B;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
li{
	float: right;
}
li a{
	display: block;
	padding:  16px;
}
.icons{
	font-size: 4em;
	margin-top: 10%;
}

/* Line Dividers */

hr.solid{
	height: 2px;
	border-width: 0;
	color: #114069;
	background-color: #114069;
	margin-top: 20px;
}

/* Entry divs */

.entry0{
	min-height: 80px;
}
.entry1{
	min-height: 210px;
}
.entry2{
	min-height: 455px;
}
.justify{
	display: flex;
	justify-content: space-between;
}

/* Text styling */

body{ 
	text-align: left; 
	color: #114069; 
	font-family: "Tahoma";
	margin: 0;
}
h1{
	margin-top: 30px;
	font-size: 4em;
	line-height: 40%;
}
h2{
	margin-top: 10px;
	font-size: 3em;
}
h3{
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 0px;
}
h5{
	color: #58A3E4;
	line-height: 20%;
}
h6{
	color: #195D99;
	margin-top: 8px;
	margin-bottom: 8px;
	font-style: italic;
	text-align: center;
}
p{
	text-align: justify;
}
article{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75%;
	width: 60%;
	background: #F6FAFD;
	padding: 100px;
	box-shadow: 0 4px 8px 0, 0 6px 20px 0;
	border-radius: 10px;
}

/* Images */

img{
	border-radius: 5px;
	width: 100%;
	height: auto;
}
.image{
	float: left;
	width: 280px;
	margin-right: 20px;
}
.imageright{
	float: right;
	width: 280px;
}

/* Videos */

video{
	border-radius: 5px;
	height: 210px;
}